{% extends "base.html" %}
{% block title %}Owner's Bookings{% endblock %}
{% block content %}

<div class="container mt-4 owner">
  <h2>Your Bookings</h2>

  {% if booked_houses %}
    <table class="table">
      <thead>
        <tr>
          <th>House Name</th>
          <th>User Name</th>
          <th>User Phone</th>
          <th>Check-in Date</th>
          <th>Check-out Date</th>
          <th>Total Amount</th>
        </tr>
      </thead>
      <tbody>
        {% for house in booked_houses %}
          {% for booking in house.bookings %}
            <tr>
              <td>{{ house.house_name }}</td>
              <td>{{ booking.user.first_name }}</td>
              <td>{{ booking.user.phone }}</td>
              <td>{{ booking.check_in_date.strftime('%Y-%m-%d') }}</td>
              <td>{{ booking.check_out_date.strftime('%Y-%m-%d') }}</td>
              <td>{{ booking.total_amount }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>

    <p>Total Earnings: {{ total_earnings }}</p>
  {% else %}
    <p>No bookings yet.</p>
  {% endif %}

</div>

{% endblock %}
