{% extends "base.html" %}
{% block title %}Upload Event{% endblock %}
{% block content %}
  <div class="upload-event-container">
    <form class="upload-event-form" method="post" action="{{ url_for('auth.upload_event') }}" enctype="multipart/form-data">
      <label for="title">Event Title:</label>
      <input type="text" name="title" required>

      <label for="description">Event Description:</label>
      <textarea name="description" required></textarea>

      <label for="location">Location:</label>
      <input type="text" name="location" required>
      
      <label for="date">Date:</label>
      <input type="date" name="date" required>

      <label for="price">Price:</label>
      <input type="text" name="price" required>

      <label for="images">Event Images:</label>
      <input type="file" name="images" accept="image/*" multiple required>

      <button type="submit">Upload Event</button>
    </form>
  </div>
{% endblock %}
