<!-- upload_event.html -->

{% extends "base.html" %}
{% block title %}Upload Event{% endblock %}
{% block content %}
<div class="upload-event-container">
  <body class="no-footer">
  <h2>Upload an Event</h2>
  <form method="post" action="{{ url_for('auth.upload_event') }}" enctype="multipart/form-data">
      <label for="event_title">Event Title:</label>
      <input type="text" name="event_title" required>

      <label for="event_description">Event Description:</label>
      <textarea name="event_description" required></textarea>

      <label for="location">Location:</label>
      <input type="text" name="location" required>

      <label for="date">Date:</label>
      <input type="date" name="date" required>

    <label for="event_price">Event Price:</label>
    <input type="text" name="event_price" required>

    <label for="event_images">Event Images:</label>
    <input type="file" name="event_images" accept="image/*" multiple required>

    <button type="submit">Upload Event</button>
</form>
</div>
{% endblock %}